<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<script th:src="@{/js/echarts.js}"></script>-->
    <script src="../static/js/dist/echarts.js/"></script>
</head>

<body>


<div id="main" style="width:600px;height:400px;"></div>
<script type="text/javascript">
    //基于准备好的dom，初始化echarts实例
    var myChar =
        echarts.init(document.getElementById('main'));

    //指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例',
        },
        tooltip: {},
        legend: {
            data: ['销量']
        },
        xAxis: {
            data: [[${list}]]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'line',
            data: [[${list1}]]
        }]
    };
    //是有刚指定的配置项和数据显示图表。
    myChar.setOption(option);
</script>

</body>

</html>